:root {
  --logo-color: 30, 58, 138; 
--logo-color-dark: 15, 30, 100;
  --primary-dark: 26, 26, 26;  
  --primary-light: 255, 255, 255;
  --white-to-hover: 210, 210, 210;

  --primary-accent: 126, 152, 227;
  --dark-accent: 140, 58, 12;    
  --light-accent: 255, 170, 70;  

  --neutral-gray: 150, 150, 150;
  --light-gray: 225, 225, 225;
  --dark-gray: 50, 50, 70;
  --very-light-gray: 240, 240, 235;
}
body {
  font-family: 'Work Sans';
  margin: 0;
  background-color: var(--primary-light); 
}
html {
  scroll-behavior: smooth;
  font-size: 1.2rem;
  overscroll-behavior-y: none;
}
h1, h2, h3 {
  font-family:"classico-urw", "Futura ";
}