.card-news {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(var(--light-blue));
    border: 2px;
    transition: 0.3s;
    border-radius: 5px;
    padding-top: 2rem;
    text-align: center;
    width: 26rem;
    margin-top: 3rem;
    text-decoration: none;
    /* 5px rounded corners */
}

.card-news:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(var(--blue));
}
.card-news-image {
    height: 26rem;
    width: 26rem;
    object-fit: cover;
}
.card-news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2rem 2rem;
}
.card-news-text {
    padding: 1rem 1rem;

    color: rgb(255, 255, 255);
    text-decoration: none;   
    
}
@media screen and (max-width: 50rem) {
    .card-news {
        width: 80vw;
    }
    .card-news-image {
        width: 80vw;
    }
}