#about_center_image {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 105vw;
    height: 75vh;
    z-index: -1;
}
#about_center_image_spacer {
    left: 0;
    top: 0;
    min-width: 105vw;
    height: calc(75vh - 7rem);
    position: relative;
}
.card-products {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    background-color: rgb(var(--very-light-gray));
    border: 2px;
    transition: 0.3s;
    border-radius: 5px;
    padding-top: 0.5rem;
    text-align: center;
    /* width: 26rem; */
    text-decoration: none;
    /* margin-bottom: 2rem; */
    /* 5px rounded corners */
}

/* .card-products:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(var(---light-gray));
} */
.card-products-image {
    height: 26rem;
    width: 26rem;
    object-fit: cover;
}
.card-products-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: space-evenly;
    /* margin: 2rem 2rem; */
}
.card-products-text {
    padding: 1rem 1rem;
    max-height: 20vh;
    overflow: hidden;
    color: rgb(var(--primary-dark));
    text-decoration: none;   
}