#card-wrapper-middle {
    background-color: rgb(var(--primary-light));
    padding: 2rem 0rem;
}

.card-middle {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(var(--very-light-gray));
    border: 2px;
    transition: 0.3s;
    max-width: 45vw;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    /* 5px rounded corners */
}
/*
.card-middle:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: rgb(var(---light-gray));
}*/
#homepage-pic-1 {
    width: 20rem;
    height: 15rem;
    position: relative;
    right: 30rem;
    border-radius: 25px;
    outline-offset: 5px;
    outline-color: black;
    outline-width: 2px;
    outline-style: solid;
}
#card1 {
    margin-left: 10vw;
}
#card1-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#card3-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#homepage-pic-3 {
    width: 15vw;
    height: 12vw;
    position: relative;
    right: calc(30vw - 5rem);
    border-radius: 25px;
    outline-offset: 5px;
    outline-color: black;
    outline-width: 2px;
    outline-style: solid;
}
#card2 {
    position: relative;
    margin-left: auto;
    margin-right: 10vw;
}
#card3 {
    margin-left: 15vw;
}
#card4 {
    margin-left: auto;
    margin-right: 20vw;
}
#card5 {
    margin-left: auto;
    margin-right: auto;
}